body{
    margin:0;
    font-family: sans-serif;
    display: flex;
    height: 140vh;
    background: #1e1e1e;
}

/* SIDEBAR */
.sidebar{
    width: 200px;
    background: #1a2434;
    color: #92989d;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.sidebar button{
    background: none;
    border: none;
    color:inherit;
    padding:10px;
    text-align: left;
    cursor: pointer;
}
.sidebar button.active{
    background: #163067;
}   
.sidebar:hover{
    background:#202c40 ;
}
.sidebar button:hover{
    background: #1a2434;
}

/* ALL PANEL */

.content{
    flex: 1;
    padding: 20px;
}
.panel{
    display: none;
}
.panel.active{
    display: block;
}

/* ANALYZE PANEL  */

#analyzePanel{
    flex-direction: column;
    gap:2px;
    color: #f8f7f7;
    padding-left: 10px;
}

#analyzePanel h2{
    font-size: 50px;
    font-weight: 500;
    color: #4d6080;
    margin-bottom: 10px;

}
#analyzePanel textarea{
    width: 55%;
    height: 200px;
    font-family: monospace;
    background: #262d26;
    color: #d7382e;
    border-radius: 4px;
    padding: 15px;
    outline: #163067;

}

#analyzePanel h3{
    font-size :32px;
    font-weight: 500;
    color: #92989d;
    margin-bottom: 8px
}

#analyzePanel select{
    width: 24%;
    padding: 14px;
    background: #1e1e1e;
    color:#92989d;
    border: 1px solid #555;
    border-radius: 4px;
    font-size: 15px;
    background: #1a2434;
    cursor: pointer;
    display: block;
}

#analyzePanel button{
    width: 58%;
    padding: 15px;
    background: #106095;
    color: #1a2434;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    margin-top: 60px;
} 
#analyzePanel button:hover{
    background: #0a2334;
    color:#d1dbe3
}


.hidden{
    display: none;
}


#innerWrapper {
    background: #1a2434;
    border: 5px solid rgba(122, 123, 116, 0.2);
    border-radius: 4px;
    padding: 15px;
    color: #eee;
    font-size: 15px;
    width: 70%;
    height: 250px;
}

#innerWrapper p{
    margin: 40px;
    color: #d1dbe3;

}

/* SETTING PANEL  */

#settingsPanel{
    color: #e3e8ee;
    flex-direction: column;
    gap: 10px;
    max-width: 700px;
    margin-top: 10px;
}

#settingsPanel h2{
    font-size: 31px;
    font-weight: 600;
    color: #4d6080;
    margin-bottom: 30px;
    padding-left: 16px;

}

.setting-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 16px;
    margin-top: 10px;
    
}

.setting-item label {
  font-size: 20px;
  color: #92989d;
  margin-bottom: 10px;
}

.setting-item select{
    width: 70%;
    padding: 14px;
    background: #1e1e1e;
    color:#92989d;
    border: 1px solid #555;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    background: #1a2434;
    cursor: pointer;
    display: block;
}

.setting-item-toggle{
    display: flex;
    margin-top: 18px;
    padding-left: 16px;
    flex-direction:row;
    align-items: center;
}

.setting-item-toggle label{
    display: inline-block;
    width:50%;
    font-size: 16px;
    color: #92989d;
    font-weight: 500;
}

.toggle {
  width: 60px;
  height: 30px;
  background: #444;    
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.toggle .knob {
  width: 26px;
  height: 26px;
  background: #ccc;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
}


.toggle.on {
    background-color: #2d6cdf;
}

.toggle.on .knob{
    transform:translateX(30px);
    background: #fff;
}






